:root {
  --primario: #784d3c; /* Esto se cambia */
  --secundario: #3ea;
  --gris: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000000;
}

html {
  text-align: center;
}

.anclado {
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: var(--secundario);
  height: 100%;
  width: 20rem;
}

.anclado h2 {
  margin: 1.1rem;
}

.barracambiante {
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: var(--primario);
  max-width: 30rem;
  border-radius: 3rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

#fotoperfil {
  border-radius: 50rem;
  max-width: 40rem;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 4rem;
}
.redes img {
  width: 50px;
  height: 50px;
}

video {
}
